
<div class="containter">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-4"></div>
      <h1><%= @article.title %></h1>
      <ul class="list-unstyled, list-inline">
        <li><%= link_to edit_article_path do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
        </li>
        <li> <%= link_to article_path(@article),
        method: :delete,
        data: { confirm: "Are you sure?"} do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
        </li>
      </ul>
      <p><%= @article.content %></p>
  </div>
</div>
